/*Logo positioning*/
#logo{
    text-align: left;
}
header{
    text-align: center;
}
#menu-icon{
    text-align: right;
}
/*Body Section*/
body{
    font-family: 'Alkalami', serif;
    font-size: 1rem;
    background-color: #b4e0e0;
    color: #689493;
    text-align: center;
    margin: auto;
    display: grid;
    display: 1fr;
}
/*Header Styling*/
h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    color: #689493;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 5rem;
    vertical-align: middle;
}
/*Footer Section*/
footer{
    padding: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    color: #948e6f;
    text-align: left;
}

footer a{
  color: #948e6f;
  background-color: #b4e0e0;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
}

footer a:hover, 
footer a:focus{
  filter: invert(0.3);
}

/*Avatar section*/
@media only screen and (min-width: 900px){
    #avatar {
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    border: 4px double;
    border-radius: 3px;
    font-size: 1.5rem;
}
}
/*Bio section*/
@media only screen and (min-width: 800px){
    #bio {
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    border: 4px double;
    border-radius: 3px;
}
}

/* Hobbies Section*/
@media only screen and (min-width: 800px){
    #hobbies {
    text-align: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    border: 4px double;
    border-radius: 3px;
}
}

/* Gallery Section*/

#gallery {
    background-color: white;
    color: #689493;
    border-style: double;
    border-color: #689493;
    border-width: 4px;
    justify-content: center;
    margin: 2rem;
    border-radius: 3px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
}

#gallery img {
    max-width:100%;
    width: 30rem;
    justify-content: center;
}

@media only screen and (min-width: 1600px){
    #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2%;
    margin-right: 2%;
}
hr{
    display: none;
}
#gallery h1{
    grid-column: 1/-1;
}
figure{
    display: grid;
}
}

/* Literature */
#lit {
    padding-top: 2rem;
    border-width: 3rem;
    max-width: 40rem;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 4px double;
    background-image: url("../img/waves-background-image(2).jpg");
    background-repeat: repeat-y;
    background-position-x: center;
    color: #689493;
    border-color: #689493;
}
/*Photo Gallery section*/
@media screen and (min-width: 60em){
    figure {
        margin-top: 3rem;
        font-size: 3rem;
    }
}
#lit div {
    max-width: 100%;
    columns: 15rem;
}
/*Video section*/
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contact Form */

#formElements{
    display:grid;
    text-align: left;
    row-gap: 0.5em;
}
#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border: 4px double;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    text-align: left;
}

legend{
    border: 4px double;
    padding:0.5em;
    border-radius: 3px;
    background: linear-gradient(0deg, #689493 45%, #b4e0e0 50%, #689493 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #689493; 
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul{
    list-style: none;
    padding:0px;
}
#contact li{
   margin:1rem; 
}

#contact button{
    max-width: 400px;
    width: 50%;
    justify-self: center;
}
