header{
    text-align: left;
}
body{
    font-family: 'Alkalami', serif;
    font-size: 1rem;
    background-color: #b4e0e0;
    color: #689493;
    text-align: center;
    margin: auto;
    display: grid;
    display: 1fr;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    color: #689493;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 5rem;
    background-color: #b4e0e0;
    border-style: ridge;
    border-color: #e0cadb;
    border-width: 0.5rem;
    vertical-align: middle;
}

footer{
    padding: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    color: #948e6f;
    text-align: left;
}

/*Bio section*/

#bio {
    text-align: center;
    justify-content: center;
}

/* Hobbies Section*/

#hobbies ul li:nth-child(4n-3) {
    font-family: 'Alkalami', serif;;
    font-size: 1rem;
    background-color: #ffffff;
    color: #e0cadb;
    text-align: center;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 0.125rem;
    max-width: 20rem;
    margin: 0 auto;
    justify-content: center;
}
#hobbies ul li:nth-child(2n) {
    font-family: 'Alkalami', serif;;
    font-size: 1rem;
    background-color: #dddddd;
    color: #ffffff;
    text-align: center;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 0.125rem;
    max-width: 20rem;
    margin: 0 auto;
    justify-content: center;
}

/* Gallery Section*/

#gallery {
    background-color: #689493;
    color: #e0cadb;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 0.5rem;
    justify-content: center;
    margin: 2rem;
}

#gallery img {
    max-width:100%;
    width: 30rem;
    justify-content: center;
}

/* Literature */
#lit {
    padding: 2rem;
    border-style: solid;
    border-color: #689493;
    border-width: 3rem;
    max-width: 40rem;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (min-width: 60em){
    figure {
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 3rem;
    }
}
@media screen and (min-width: 100em){
    figure {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        font-size: 5rem;
        margin-bottom: auto;
    }
}
#lit div {
    max-width: 100%;
    columns: 15rem;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contact Form */

#formElements{
    display:grid;
    text-align: left;
    row-gap: 0.5em;
}
#contact{
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset{
    border: 4px double;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3px;
    text-align: left;
}

legend{
    border: 4px double;
    padding:0.5em;
    border-radius: 3px;
    background: linear-gradient(0deg, #689493 45%, #b4e0e0 50%, #689493 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #689493; 
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul{
    list-style: none;
    padding:0px;
}
#contact li{
   margin:1rem; 
}

#contact button{
    max-width: 400px;
    width: 50%;
    justify-self: center;
}
