body{
    font-family: 'Alkalami', serif;;
    font-size: 1rem;
    background-color: #b4e0e0;
    color: #689493;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    color: #689493;
    text-align: center;
}
h1{
    font-size: 5rem;
    background-color: #e0d59d;
    border-style: ridge;
    border-color: #e0cadb;
    border-width: 0.125rem;

}

footer{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1rem;
    color: #948e6f;
}

/*Bio section*/

#bio {
    text-align: center;
}

/* Hobbies Section*/

#hobbies ul li:nth-child(4n-3) {
    font-family: 'Alkalami', serif;;
    font-size: 1rem;
    background-color: #ffffff;
    color: #e0cadb;
    text-align: center;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 0.125rem;
}
#hobbies ul li:nth-child(2n) {
    font-family: 'Alkalami', serif;;
    font-size: 1rem;
    background-color: #dddddd;
    color: #ffffff;
    text-align: center;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 0.125rem;
}

/* Gallery Section*/

#gallery {
    background-color: #689493;
    color: #e0cadb;
    border-style: double;
    border-color: #b4e0e0;
    border-width: 10rem;
}

#gallery img {
    max-width:100%;
    width: 30rem;
}